<form>
  {{{header}}}
  <section class="tor2e-gametool-content">
    <div class="tor2e-gametool-period">
      {{{year}}}
    </div>
    <div class="tor2e-gametool-calendar">
      <div class="tor2e-gametool-calendar-part">
        {{{season}}}
      </div>
      <div class="tor2e-gametool-calendar-part">
        {{{weather}}}
      </div>
    </div>
    <img class ="tor2e-gametool-ligne-separation" src="modules/tor-2e-gametool/images/asterism-tutorial-right.webp"/>
    <div class="tor2e-gametool-actors">
      <div class="tor2e-gametool-actor-part">
        {{{community}}}
      </div>
      <div class="tor2e-gametool-actor-part">
        {{{pc}}}
      </div>
    </div>
  </section>
  <div class="tor2e-gametool-footer">
    {{{footer}}}
  </div>
</form>